<div ng-controller="AddMoneyController">
    <div class="form-group" style="padding-top:200px;padding-bottom:150px;">
        <div class="col-md-2">
            <label>ENTER AMOUNT</label>
        </div>
        <div class="col-md-6">
            <input type="number" name="Amount" ng-model="addM.Amount" class="form-control">
        </div>
        <br /><br /><br />
        <center>
            <button>+Rs.50</button>
            <button>+Rs.100</button>
            <button>+Rs.500</button>
            <button>+Rs.1000</button>
            <br /><br />
          
            <button ng-click="addMoney()" class="btn btn-success">ADD MONEY</button>
                
        </center>
    </div>

</div>

    
  
   




































