<div class="container-fluid"style="background-image:url(app/Images/bluefinal.png);background-size: 100%;padding-top: 60px;">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <button type="button"class="btn-lg btn-info loginsec" style="text-align: center;font-size: 40pt;font-variant: Arial Unicode MS;width:65%;" ng-click="addtheMoney()">Add Money</button>
        </div>


    </div>
    <div class="row">
        <div class="col-md-12 col-md-offset-2"style="padding-top: 50px">
            <button type="button"class="btn-lg btn-info loginsec" style="text-align: center;font-size: 40pt;font-variant: Arial Unicode MS;width:65%;" ng-click="sendMoney()">Send Money</button>
        </div>


    </div>
    <div class="row">
        <div class="col-md-12 col-md-offset-2"style="padding-top: 50px;padding-bottom:40px;">
            <button type="button"class="btn-lg btn-info loginsec" style="text-align: center;font-size: 40pt;font-variant: Arial Unicode MS;width:65%;"ng-click="transhist()">
                Transaction History
            </button>
        </div>


    </div>
</div>

