
    <div class="container-fluid" style="background-image: url('app/Images/bluefinal.png'); background-size: 100%;" ng-submit="gotologin()">
        <div class="row">
            <div class="col-md-offset-2 col-md-6 " style="padding-top: 130px">

                <p class="pInnobig">
                    <font style="color:#00009a;">&nbsp;&nbsp;&nbsp;&nbsp;Inno</font><font style="color: #2492ff">tm</font>
                </p>
                <div class="col-md-12 col-md-pull-2">
                    <p style="font-variant: Arial Unicode MS;font-size: 50pt;">
                        <font style="color:#00009a; ">&nbsp;&nbsp;&nbsp;Pay</font><font style="color: #2492ff"> with</font><font style="color:#00009a;"> Inno</font><font style="color: #2492ff">tm &nbsp;&nbsp;</font>
                    </p>
                                </div>

                <div class="col-lg-12 col-xs-pull-1">
                    <button class="btn-lg btn-info getstarted" ng-click="gotologin()">Get Started</button>
                </div>

            </div>
            <div class="col-md-pull-1 col-md-3" style="padding-top:10px;">

                <img class="walletsize" src="app/Images/walletimg.png">
            </div>


        </div>
       <!--<div data-ng-init="getuserlist()">
           <div class="container">
               <table>
                  <tr>
                      <th> userid </th>
                       <th>name </th>
                        <th>email</th> 
                         <th>phone </th>
                          <th>amount</th>
                          <th>gender</th>
                            <th>age </th>
                           <th>imageurl </th>
                      <th>password</th>
                    </tr>
                   <tr ng-repeat="user in users">
                       <td>{{user.userid}}</td>
                       <td>{{user.name}}</td>
                       <td>{{user.email}}</td>
                       <td>{{user.phone}}</td>
                       <td>{{user.amount}}</td>
                       <td>{{user.gender}}</td>
                       <td>{{user.age}}</td>
                       <td>{{user.imageurl}}</td>
                       <td>{{user.password}}</td>



                   </tr>
               </table>


           </div>


       </div>-->


    </div>
